<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CAM" switchValue="All" switchName="mySwitch">
        <listeners>
          <add name="FileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="PartialView_WebApp.log" traceOutputOptions="DateTime,ThreadId,ProcessId,Timestamp,LogicalOperationStack,Callstack">
            <filter initializeData="All" type="System.Diagnostics.EventTypeFilter"/>
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="mySwitch" value="Verbose"/>
    </switches>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
